.about {
    background-color: $primary-color;
    position: relative;
    z-index: 1;
    min-height: 230px;
    width: 100%;
    text-align: center;
}

.about:before {
    background-color: inherit;
    content: '';
    display: block;
    position: absolute;
    height: 50%;
    top: 0;
    left: 0;
    right: 0;
    transform: skewY(4.5deg);
    transform-origin: 100%;
    z-index: -1;
}

.about__content {

    &--list {
        font-weight: 300;
        letter-spacing: 0.5px;

        li {
            line-height: 2;
        }
    }
}