.button__contact {
    text-transform: uppercase;
    color: $secondary-color;
    border: 2px solid $secondary-color;
    border-radius: 4px;
    background: transparent;
    padding: 20px;
    text-decoration: none;
    width: 45%;
    display: inline-block;
    margin: 0 2%;
    font-size: 18px;
}

.button__contact:hover {
    background-color: $secondary-color;
    background: linear-gradient(to right, rgba(52,121,164,1) 0%, rgba(88,165,201,1) 100%);
    color: #fff;
}

.button__contact i {
    margin-right: 10px;
}

.button__contact--nav {
    width: auto;
    background-color: #fff;
    border: 0; 
}