.contact {
    background: #fff;
    width: 100%;
    text-align: center;
}

.contact article {
    padding: 60px 0;
}

.contact__content {
    &--title {
        color: $secondary-color;
    }

    &--information {
        color: $primary-color;
    }
}