.hero {
    background: url(../images/bowler-electric-logo.png) top center no-repeat;
}

.hero__logo {
    display: inline-block;
    width: 45%;
    text-align: center;
}

.hero__logo img {
    width: 55%;
}

.hero__content {
    display: inline-block;
    color: #347aa4;
    width: 55%;
}