.hero__logo {
    display: inline-block;
    width: 45%;
    text-align: center;
}

.hero__logo img {
    width: 55%;
}

.hero__content {
    display: inline-block;
    color: $primary-color;
    width: 55%;
}