nav {
  background-color: $secondary-color;
  margin: 0;
  overflow: hidden;

  ul {
    text-align: center;
  }

  li {
      display: inline-block;
      width: 8%;
      list-style-type: none;
      padding: 20px;
  }

  a {
    color: #fff;
    text-decoration: none;
  }
}

.navigation {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.navigation__item::after {
    content: '';
    display: block;
    width: 0;
    height: 5px;
    background: rgba(255,255,255, 0.6);
    transition: width .3s;
}

.navigation__item:hover::after {
    width: 100%;
}