nav {
  background-color: $secondary-color;
  margin: 0;
  overflow: hidden;

  ul {
    text-align: center;
    padding: 20px;
  }

  li {
      display: inline-block;
      width: 8%;
      list-style-type: none;
      border-right: solid 1px rgba(255,255,255, 0.6);

      &:last-child {
        border-right: none;
      }
  }

  a {
    color: #fff;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.navigation {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}